<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
	<head>
		<title>SRM Mess</title>
	</head>
	<body>
		<div class="container"> 
			<ul>
				<% menuItems.forEach(function(item){ %>
					<li> <%= item %> </li>
				<% }); %>
			</ul>

			<strong>Add new Menu Item</strong>
			<form class="form-control" action="/" method="POST">
				<div class="form-group">
					<input type="text" name="item" placeholder="Name of the Item">
				</div>
				<button class="btn btn-primary">Submit</button>
			</form>
		</div>

	</body>
</html>